/* COMMON STYLES
  -------------------------------- */
/* VARIABLES */
:root {
  --bg-color: white;
  --heading-color: #292922;
  --burger-color: #292922;
  --nav-color: #4ECDC4;
  --slider: #292922;
  --paragraph-primary: #292922;
  --paragraph-secondary: #4ECDC4;
  --background: #57cac617;
}

[data-theme="dark"] {
  --bg-color: #292F36;
  --heading-color: #FAF9ED;
  --nav-color: #0C747A;
  --slider: white;
  --burger-color: white;
  --paragraph-primary: #faf9ed59;
  --paragraph-secondary: white;
}
$title-font: 'Mukta', sans-serif;

$subtitle-font: 'Noto Serif', serif;


body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: $title-font;
  background-color: var(--bg-color);

}

section {

  display: flex;
  height: 100vh;
  padding: 100px;
  margin: 0 auto;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 8rem;
  margin: 5px;
  line-height: 0.6;
  color: var(--heading-color);
}

h2 {
  font-size: 4rem;
  color: var(--heading-color);
}

p {
  font-size: 14px;
  line-height: 1.6rem;
  color: var(--paragraph-primary);
}

.line-break {
  width: 100px;
  height: 10px;
  background-color: var(--nav-color);
}

/*/
//////////// Title */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 120px;

.lamp {


  margin-top: 100px;
  width: auto;
  height: auto;

}
  .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // margin-bottom: 100px;


    h1 {
      animation-name: title-appear;
      animation-duration: 2s;
    }
  }
}
@keyframes title-appear {
  0% {
    margin: 400px 0;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    margin: 5px 0;
    opacity: 1;
  }
}
/*/
//////////////// scroll arrow */

.scroll {
  position: absolute;
  bottom: 50px;
  font-family: $subtitle-font;
  height: 100px;
  animation-name: slide-appear;

  h2 {
    font-size: 18px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    color: var(--heading-color);
    margin: 0 0 20px;
    animation: slide 1s ease-in-out infinite;
  }
}

.scroll-arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.arrow {
  border: solid var(--heading-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  color: var(--heading-color);
  height: 5px;
  width: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.line {
  width: 2px;
  height: 20px;
  background: var(--heading-color);
  margin: 0 auto;
}
@keyframes slide {
  0% {
    margin-bottom: 20px;
  }

  50% {
    margin-bottom: 30px;
  }

  100% {
    margin-bottom: 20px;
  }
}
@keyframes slide-appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    margin-bottom: 1;
  }
}
/*/
//////////// Light mode / dark mode toggle */

.toggle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;

  em {
    padding-top: 5px;
    font-size: 10px;
    color: var(--heading-color);
  }
}

.toggle {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.toggle input {
  display: none;
}

.slider {
  background: transparent;
  border: 2px solid var(--slider);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--slider);
  bottom: 3px;
  content: "";
  height: 24px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
}

input:checked + .slider {
  background: transparent;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*/
//////////////// Navigation menu */

.header {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--nav-color);
  z-index: 3;
  left: -1500px;
  transition: 1s;
}

ul {
  list-style-type: none;

  li {
    color: white;
    font-size: 30px;
    padding-bottom: 50px;
    font-family: 'Khula', sans-serif;
    text-transform: uppercase;
  }
}

.header-active {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 1s;
}
/*/
//////////////// Burger */

.burger-menu_container {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .burger-menu {
    cursor: pointer;
    z-index: 4;
    margin-left: 20px;

    .bar {
      width: 35px;
      height: 5px;
      margin: 6px 0;
      transition: 0.4s;
      background-color: var(--burger-color);
    }
  }
}

.active {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
  }
}


////////////////////// Profile

.profile {
  display: flex;
  .profile-container {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: flex-end;
    align-items: center;
    .developer {
      width: 50%;
    }
    .notebook {
      position: absolute;
      right: -1000px;
      transform: rotate(-20deg);
      img {
        width: 700px;
        box-shadow: -9px 6px 21px 0px rgba(0,0,0,0.39);
      }

    }

    .keyboard {
      position: absolute;
      left: -800px;
      transform: rotate(15deg);

      img {
        width: 800px;
        box-shadow: -9px 6px 21px 0px rgba(0,0,0,0.39);
      }

    }
  }
}



//////////////// about me */

.about-me {
  display: flex;
  flex-direction: column;

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    justify-content: space-between;
  }
}


.svg-container {
  background: var(--background);
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;

  h2 {
    position: absolute;
    top: -100px;
    right: 20px;
    border-top: 2px solid var(--heading-color);
  }
}

.retina {
  width: 25%;
}

 p {
   color: var(--heading-color);
 }


.st0 {

}

.animate {
  fill: none;
  stroke-width: 0.5;
  stroke: var(--heading-color);
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  animation: retina 20s forwards linear;
}

@keyframes retina {
  to {
    stroke-dashoffset: 0;
  }
}

///////////////// skills

.title-box {
  height: 500px;
  z-index: 1;
  height: 100%;
  display: flex;
}

.care {
      padding: 30px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .icon {
      width: 200px;
      height: 200px;
      border-radius: 50%;

    }

    //////////////// skills



    .about-descriptions {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 60%;
      height: 50px;
      margin-top: 20px;
      border: 0;
      .skills-description{
        background: none;
        display: flex;
        width: 40px;
        height: 100px;
        margin: 0 20px;
        justify-content: center;
        .skill {
          align-self: flex-start;
          text-orientation: sideways;
          writing-mode: vertical-rl;
          font-size: 14px;
          line-height: 1.6rem;
          color: var(--paragraph-primary);
          font-family: $subtitle-font;
        }
      }
    }

    .about-container {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 60%;
      height: 500px;
      margin-top: 40px;
      align-items: center;
      border: 0;

      .skills-list {
        display: flex;
        align-items: flex-end;
        width: 40px;
        height: 500px;
        margin: 0 20px;
        border: 1px solid var(--heading-color);
        z-index: 3;
        .skill {
          height: 0%;
          width: 100%;
          background: var(--nav-color);
        }
        .skills-description{
          display: flex;
          width: 40px;
          height: 100px;
          margin: 0 20px;
          background: #bc9ec1;
        }
      }
    }

/*/
//////////////// Section experience */

.experience {
  flex-direction: column;
  p {
    width: 100%;
  }
}

.experience__job {
  display: flex;
  flex-direction: row;
  position: relative;

  .job-date {
    display: flex;
    justify-content: flex-start;
    min-width: 10%;
    font-size: 20px;
    font-family: $title-font;
    font-weight: 600;
    position: absolute;
    color: var(--paragraph-primary);
  }

  .job-circle-line {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    justify-content: flex-start;
    align-items: center;

    .circle-outer {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--heading-color);
      display: flex;
      align-items: center;
      justify-content: center;

      .circle-inner {
        background-color: var(--nav-color);
        opacity: 0;
        position: absolute;
        border-radius: 50%;
        height: 20px;
        width: 20px;
      }
    }
    .job-about {
      p {
        color: var(--paragraph-secondary);
      }
    }

    .circle-line {
      background-color: var(--heading-color);
      width: 1px;
      height: 200px;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
}
